html{
	scroll-behavior: smooth;
}
*{
	padding: 0;
	margin: 0;
	font-family: 'Josefin Sans', sans-serif;
	box-sizing: border-box;
}
.hero{
	height: 100vh;
	width: 100%;
  background-color: #fcd090;
	background-size: cover;
	background-position: center;
}
nav{
	display: flex;
	justify-content: space-between;
	padding-top: 45px;
	padding-left: 8%;
	padding-right: 8%;
	align-items: stretch;
}
.logo{
	color: white;
	font-size: 35px;
	letter-spacing: 1px;
	cursor: pointer;
}
span{
	color: white;
}
span text{
	color: white;
}

span.wrap{
  background-image: linear-gradient(to left, #800080, white, #CF9FFF, #800080, white, #CF9FFF);
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
  color: transparent;
}

nav ul{
	background-color: #f5a73687;
	color: white;
	text-decoration: none;
	border: 2px solid transparent;
	font-weight: bold;
	padding: 10px 20px;
	border-radius: 30px;
	transition: transform .4s;
	font-size: 15px;
}

nav ul li {
      list-style: none;
      margin: 0 auto;
      border-left: 2px solid #3ca0e7;
      display: inline-block;
      padding: 0 30px;
      position: relative;
      text-decoration: none;
      text-align: center;
      font-family: arvo;
    }

    nav li a {
      color: white;
    }

    nav li a:hover {
      color: #3ca0e7;
    }

    nav li:hover {
      cursor: pointer;
    }

    nav ul li ul {
      visibility: hidden;
      opacity: 0;
      position: absolute;
padding-left: 0;
      left: 0;
      display: none;
      background: #f5a73687;
      font-size: 15px;
    }

    nav ul li:hover > ul,
    nav ul li ul:hover {
      visibility: visible;
      opacity: 1;
      display: block;
      min-width: 250px;
      text-align: left;
      padding-top: 20px;
      box-shadow: 0px 3px 5px -1px #ccc;
    }

    nav ul li ul li {
      clear: both;
      width: 100%;
      text-align: left;
      margin-bottom: 20px;
      border-style: none;
    }

    nav ul li ul li a:hover {
      padding-left: 10px;
      border-left: 2px solid #3ca0e7;
      transition: all 0.3s ease;
    }
  }
}

nav a {

    text-decoration: none;

    &:hover {
        color: #3CA0E7;
    }
 
}

nav ul li ul li a {
	transition: all 0.5s ease;
}

li{
	list-style-type: none;
}

.lia{
	color: #fcfc;
	letter-spacing: 1px;
  line-height: 28px;
  font-size: 18px;
  margin-bottom: 10px;
  font-weight: bolder;
}

.btn{
	background-color: #f5a73687;
	color: white;
	text-decoration: none;
	border: 2px solid transparent;
	font-weight: bold;
	padding: 10px 25px;
	border-radius: 30px;
	transition: transform .4s;
}
.btn:hover{
	transform: scale(1.2);
}
.content {
  width: 100%;
  padding: 100px 50px;
  background-color: #fcd090;
}
.content h1 {
  text-align: center;
  color: black;
  font-size: 60px;
  text-transform: capitalize;
  margin-bottom: 20px;
}
.content p{
  color: black;
  letter-spacing: 1px;
  line-height: 28px;
  font-size: 18px;
  margin-bottom: 45px;
}